/*Hero*/

.playBtn
{
    display: inline;
    margin-top: -2px;    
}

/*About*/

.quoteBtn
{
    color: rgba(0,0,0,0.3);
    font-size: 40px;
    float: right;
    margin-right: 19px;
    margin-top: -30px;
}

/*Data*/

.mx-2
{
    padding-left:10px;
}

.linkTag
{
    color:rgb(111, 111, 255);
    text-decoration: underline;
    cursor: pointer;
}

/*Courses*/

.DrimgStar
{
    display:inherit;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 7px;
}

.card img
{
    height: 275px;
}